{
  "ecmaFeatures": {
  "jsx": true,
  "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
    },
  "parser": "babel-eslint",
  "extends": [ "standard", "standard-react", 'plugin:flowtype/recommended' ],
  "plugins": [
    "babel",
    "flowtype",
    "import",
    "react",
    "react-native",
    "standard",
  ]
}
